<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "BoxBal"
        versionCode = "1"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>BoxBal</name>

    <description>
        The app used during the BoxBal
    </description>

    <author href="http://rob.vanden-hout.com" email="vdhout@gmail.com">
        Rob van den Hout
    </author>

</widget>